<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="{{ url_for('static',    filename='css/style.css') }}" rel="stylesheet">
    <title>Final</title>
</head>
<body>
    <!-- <h1>DATA : API</h1>
    <h2>API : GET</h2>
    <button id='btnGet'>GET</button>
    <hr>
    <h2>API : POST</h2> -->
    <div class="header">
        <h1>Heart Disease Prediction</h1>
    </div>
    <p>Age：
        <input id="age" name="age" type="number" value=57 />
    </p>
    <p>Sex（Female＝0, Male＝1）：
        <input id="sex" name="sex" type="number" value=1 />
    </p>
    <p>Type of Chest pain（Typical＝0, Atypical＝1, Non-anginal pain＝2, Asymptomatic＝3）：
        <input id="cp" name="cp" type="number" value=0 />
    </p>
    <p>Blood Pressure：
        <input id="trestbps" name="trestbps" type="number" value=130 />
    <p>Serum cholestoral：
        <input id="chol" name="chol" type="number" value=236 />
    </p>
    <p>Fasting Blood Sugar （＞120mg/dl＝1, ＜120 mg/dl＝0）:
        <input id="fbs" name="fbs" type="number" value=0 />
    </p>
    <p>Resting electrocardiographic（Normal＝0, Abnormality＝1, Other＝2）：
        <input id="restecg" name="restecg" type="number" value=0 />
    </p>
    <p>Maximum heart rate :
        <input id="thalach" name="thalach" type="number" value=174 />
    </p>
    <p>Exercise induced Angina（No＝0, Yes＝1） :
        <input id="exang" name="exang" type="number" value=0 />
    </p>
    <p>ST depression :
        <input id="oldpeak" name="oldpeak" type="number" value=0 />
    </p>
    <p>Slope of ST depression（Unsloping＝1, Flat＝2, Downsloping＝3）：
        <input id="slope" name="slope" type="number" value=1 />
    </p>
    <p>Vessels colored by Flourosopy（from 0 to 3）：
        <input id="ca" name="ca" type="number" value=1 />
    </p>
    <p>Status of the heart（Normal＝1, Fixed defect＝2, Reversable defect＝3）：
        <input id="thal" name="thal" type="number" value=2 />
    </p>
    <div class="btnPost">
        <button id="btnPost" onclick="Post()">Calculate</button>
    </div>
    <br>
    <hr>
    <h3>Result
        <div id="console"></div>
    </h3>

    <div id='reminder'>
        <div id="hide" style="display: none">
            <p><prep>高風險</prep> ➛ 注意事項：<br>
            <prep>① 注意保暖－</prep>在11月至1月的清晨的5時至6時之時段，國人不分年齡之死亡率有較高之現象。<br>
            &emsp;因此要注意手腳保暖及頭部的保暖也很重要！<br>
            <prep>② 氣溫回升再運動－</prep>清晨容易出現極低溫，最好等太陽出來、氣溫回升後再出門運動，並建議結伴同行及相互照應。 <br>
            <prep>③ 控制三高－</prep>有三高問題且正在服藥的民眾，除了養成健康的 生活型態以外，應該要遵照醫師指示定期服藥及回診<br>
            <prep>④ 飲食定量，不要吸菸並注意情緒－</prep>
            避免因天冷而大吃大喝或是情緒起伏太大等情形，<br>
            &emsp;另應多喝水、並多攝取纖維素，以及避免突然用力、緊張、興奮、激烈運動等。
            </p>
        </div>
        <div id="hide1" style="display: none">
            <p><prep>低風險</prep> ➛ 日常保健：<br>
            <prep>① 地中海飲食－</prep>食用大量蔬菜水果、使用橄欖油為主要脂肪來源，天然乳製品加上適量的魚、但及家禽類、少量紅肉及紅酒。<br>
            <prep>② 體重管理－</prep>過重和肥胖都會伴隨高血壓，加重心血管疾病的風險。<br>
            <prep>③ 規律的運動－</prep>一周維持2.5-5小時中強度的運動和有氧運動訓練。<br>
            <prep>④ 戒菸－</prep>吸菸會讓心血管疾病10年死亡率增加一倍。</p>
        </div>
    </div>
    
    
    <script>
        function Post() {
            console.log('*** Test Post ***');
            var $btnGet = $('#btnGet');
            var $console = $('#console');
            var $btnPost = $('#btnPost');
            var $age = $('#age').val();
            var $sex = $('#sex').val();
            var $cp = $('#cp').val();
            var $trestbps = $('#trestbps').val();
            var $chol = $('#chol').val();
            var $fbs = $('#fbs').val();
            var $restecg = $('#restecg').val();
            var $thalach = $('#thalach').val();
            var $exang = $('#exang').val();
            var $oldpeak = $('#oldpeak').val();
            var $slope = $('#slope').val();
            var $ca = $('#ca').val();
            var $thal = $('#thal').val();
            var data = {"age":$age, "sex":$sex, "cp":$cp, "trestbps":$trestbps, 
                                "chol":$chol, "fbs":$fbs, "restecg":$restecg, "thalach":$thalach,
                                "exang":$exang, "oldpeak":$oldpeak, "slope":$slope, "ca":$ca, "thal":$thal}
            

            $.ajax({
                type: 'post',
                url: 'http://localhost:5000/process',
                // url: 'https://163.14.2.62:8889/process',
                data : data,
                success: function (data) {
                                // $console.text("result = ");
                                console.log("checkpoint");
                                // console.log(data);
                                // console.log("age："+$age);
                                $console.text("患有心血管疾病之機率：");
                                $console.append(data);
                                document.getElementById('hide').style.display='none';
                                document.getElementById('hide1').style.display='none';

                                if (Number(data) > 0.5) {
                                    document.getElementById('hide').style.display='';
                                }
                                else {
                                    document.getElementById('hide1').style.display='';
                                }
                            },
                error: function (xhr) {
                                alert('Ajax request 發生錯誤');
            }});
	}
      
    </script>
</body>
</html>